#registry_h1{
	font-size:36px;
	color: #ff8040;
	text-align: center;
}

#o_userverify,#recheckInfo,#o_pswdverify{
	size: 14px;
	color: #DF0000;
}

#registry_head{
	height:123px;
	background: #EF0000;
	width: 100%;
	border-color:silver;
	color : White;
	font-family: cursive; 
	vertical-align: middle;
	font-size: 54px;
}

.registry_head{
	position: fixed;
	background: red;
	color: #FFFFF0;
}

h1{
	font: bold;
	font: 华文彩云;
}

.table-registry{
	width: 70%;
}

.table-registry input, textarea, img{
		border-bottom-color: infobackground;
}

.table-registry img{
	vertical-align: middle;
	text-align: center;
	height: 149px;
	width: 149px;
}


.registry_tail{
	background : maroon;
	height: 300px;
	width: 100%;
	font-family: inherit;
	font-size: xx-small;
	font-weight: bold;
	text-align: center;
}

.registry-bottom div {
	background: orange;
	float: none;
	clear: both;
}

.reg_bottom{
	background:#EEE;	
	float: left;
	width: 100%;

}

.reg_bottom_div{
	width: 24%;
	padding: 3px;
	height: 120px;
	font: bold medium;
	float: right;
	color: blue;
}

.rbd-l a{
	margin-right:10px;
	font-size: 16px;
	text-decoration: none;
}
.reg_bottom th{
	font: larger;
}


.pic_size{
	width: 98%;
	height: inherit;
}

li{
	float: left;
	list-style: none;
	height: 35px;
}


.form-login{
	width: 65%;
	 text-align: center;
	float: right;
	margin-left: 0px;
	margin-top: 7%;

}
.form-login form{
	text-align:center;
	width: 640px;
	height: 400px;
	 
}


.form-login div{
	height: 200px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background: #dbffdb;
	border-radius: 15px;
}

.form-login input, button{
	width: 60%;
	height: 36px;
	text-align: center;
	font-size: 24px;
	color: black;
	font: bold;
	border-radius: 20px;
}


.background-login{
	height: 18%;
}

.div-sqrt-out{
	float: left;
	margin-left:20px;
	width: 30%;

}

.div-sqrt{
	position: fixed;
	border-radius: 5px 5px 5px 5px;
	background: #EAEAEA;
	width: 180px;
	height: 240px;
	margin-right: 12%;
	position: relative;
	border: 1px solid rgb(123,123,123) ;
	float: fixed;
	clear: both;
	}

 