#registry_h1{
	font-size:36;
	color: #ff8040;
	text-align: center;
}

#o_userverify,#recheckInfo,#o_pswdverify{
	size: 14px;
	color: #DF0000;
}

#registry_head{
	height:123px;
	background: silver;
	width: 100%;
	color : orange;
	font-family:	 cursive; 
	vertical-align: middle;
}

.table-registry{
	width: 70%;
}

.table-registry input{
		border-bottom-color: infobackground;
}

.table-registry img{
	vertical-align: middle;
	text-align: center;
	height: 149px;
	width: 149px;
}


.reg_bottom{
	color:#38acc0;	
	vertical-align: bottom;
}

.registry_tail{
	background : maroon;
	height: 300px;
	width: 100%;
	font-family: inherit;
	font-size: xx-small;
	font-weight: bold;
	text-align: center;
}

.registry.body{
	background : #454545;
}



.registry-bottom div {
	background: orange;
}

.reg_bottom div{
	background: gray;
}

.reg_bottom th{
	size: 25%;
}


.pic_size{
	width: 98%;
	height: inherit;
}

li{
	float: left;
	list-style: none;
	height: 35px;
}

.form-login div{
	height: 8%;
	width: 12%;
}

.background-login{
	width:100%;
	height: 80%;
	bottom: 2px;
}

.main—nav{
	background:#38ACC0;
}

 